ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
    float: left;
    padding: 10px;
}

img {
    height:40px;
    width:40px;
}

.log-box{
    float:left;
    padding:20px;
}
.nav-point {
    float: left;
    color: #0d0d38;
    text-decoration: none;
    padding: 10px;

}
.clear-float {
    clear: both;
}
.app-title {
    font-weight: bold;
    font-size: 40px;
}
#navpoint {
  float: left;
  color: #0d0d38;
  text-decoration: none;
  padding: 10px;
}
